{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "rules": {
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "comma-dangle": "off",
    "react/prefer-es6-class": ["on", "always"],
    "react/destructuring-assignment": ["on", "never"],
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": "off",
    "linebreak-style": [ 0 ]
  },
  "globals": {
    "fetch": false
  }
}