.menteeCard {
	background-color: #BDEDFF;
	height: 200px;
    width: 92vw;
    border-radius: 12px;
    margin: auto;
    margin-top: 20px;
}

.profilePic {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}

.headText {
	color: black;
	font-family: Helvetica;
	font-size: 10px;
	margin-top: 30px;
    margin-left: 45px;
    display: inline-block;
}

.smallText {
	color:black;
	font-family: Helvetica;
	font-size: 13px;
	letter-spacing: 0px;
	display: inline-block;
	margin-left: 45px;
}

.profilePic, 
.headText {
    display: inline-block;
}

.cardButton {
	height: 50px;
	width: 120px;
	background-color: #19AFE5;
	border-radius: 10px;
	color: white;
	float: left;
	display: inline-block;
	margin-top: 25px;
	margin-left: 35px;
}