/**** page-wide style ****/
.menteeDetails {
	height: 200px;
	width: 100%;
	margin-top: 20px;
	padding-bottom: 20px;
	display: table;
	font-family: Roboto, Helvetica, Arial;
	font-size: 14px;
}
hr {
	width: 100%;
	border: none;
	border-bottom: 1px solid #BDBDBD;
}

/* generic blue button */
/* TODO(ace-n) move this to a generic button component */
.supportArea.supported,
#messageBtn {
	color: #F2F2F2;
	background-color: #19AFE5;
	border-radius: 5px;
}

/**** detail sections ****/
.sectionHeader {
	color: #19AFE5;
	padding-bottom: 5px;
	width: 100%;
	display: flex;
	white-space: nowrap;
	font-size: 18px;
}

.detailRow,
.collegeSection {
	margin-left: 16px;
	padding-bottom: 7px;
	color: #4F4F4F;
}

.detailRow div {
	display: inline-flex;
}

.detailKey,
.collegeClass {
	width: 6em;
	padding-right: 7px;
	font-weight: bold;
}

.detailRowWideKey {
	display: flex;
}
.detailRowWideKey .detailKey {
	min-width: 110px;
}

.detailValue {
	display: inline-flex;
}

#detailSectionList {
	margin-left: 21px;
	margin-right: 20px;
}

.sectionHeader > hr {
	margin-left: 15px;
}
/**** end detail sections ****/
