#navbar {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 16px;
}

#navbarLine {
	display: flex;
	padding-bottom: 12px;
}

#navbarName {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	clear: both;
}

#navbarLine > .fa {
	font-size: 24px;
}

#navbarLine > .fa-arrow-left {
	margin-left: 30px;
}

#navbarLine > .fa-cog {
	margin-right: 19px;
}

#navbar {
	overflow-x: hidden;
}
